.layout {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex: 1;

    .row {
        flex: 0.3;
        text-align: center;
        margin-top: 1%;
        gap: 2px;
    }
    .rowspace {
        flex: 0.1;
    }
}
