.app {
    height: 100%;
    width: 100%;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
}
.top__tags {
    bottom: auto;
    top: 35px;

}

.tags {
    color: goldenrod;
    position: absolute;
    left: 120px;
    font-size: 12px;
    font-family: 'La Belle Aurore';
}

.bottom__tags {
    top: 50%;
}
.bottom__tags__html {
    margin-left: -20px;

}
.container {
    width: 100% ;
    will-change: contents;
    height: 90%;
    min-width: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;

}

.about__details,
.contact__details {
    width: 90%;
    margin: auto;

    .text__zone {
        left: 10%;
        top: 30%;
        position: absolute;
        max-width: 500px;

         h1 {
        color: goldenrod;
        font-size: 53px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 40px;
        position: relative;

        &::before {
            content: 'h1';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left: -5px;
            opacity: 0.6;
            line-height: 18px;
        }

        &::after {
            content: "h1 close";
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            left: -25px;
            bottom: -20px;
            margin-left: 20px;
            opacity: 0.6;
            line-height: 18px;
        }
    }

    
    p {
        font-style: 13px;
        color: black;
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
            animation-delay:1.1s ;
        }
        &:nth-of-type(2) {
            animation-delay:1.2s ;
        }
        &:nth-of-type(3) {
            animation-delay:1.0s ;
        }
    }
    }

    .text-animate-hover {
        &:hover {
             color: goldenrod;
        }
    }
}

@media (min-width: 100px) and (max-width: 520px) {
    .top__tags {
        display: none;
    }
    .about__details {
        .text__zone {
            left: 20%;
            top: 5%;
            position: absolute;
            max-width: 400px;
    
            p {
                max-width: 300px;
                
            }

        }
    }
}
@media (min-width: 520px) and (max-width: 768px) {
    .top__tags {
        display: none;
    }
    .about__details {
        .text__zone {
            left: 20%;
            top: 5%;
            position: absolute;
            max-width: 400px;
    
            p {
                max-width: 380px;
                
            }

        }
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .top__tags {
        display: none;
    }
    
}