.home__page {
    height: 100%;
    width: 100%;
    .text-zone {
        position: absolute;
        left: 10%;
        top: 58%;
        transform: translateY(-50%);
        width: 40%;
        max-width: 90%;
    }


    h1 {
        color: white;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: goldenrod;
            font-size: 18px;
            position: absolute;
            margin-top: -10px ;
            left: 0px;
            opacity: 0.6px;
        }

        &::after {
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: goldenrod;
            font-size: 18px;
            position: absolute;
            margin-top: 30px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }


        img {
            width: 20px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s ;
        }
    }  

    h2 {
        color: black;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }
    

}

@media (min-width: 100px) and (max-width: 520px) {
    h1 {
        font-size: 40px !important;
    }
    h2 {
        width: 200px !important;
    }
}
@media (min-width: 520px) and (max-width: 768px) {
    h1 {
        font-size: 48px !important;
    }
    h2 {
        width: 400px !important;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    h1 {
        font-size: 50px !important;
    }
    h2 {
        width: 600px !important;
    }
}